<app-bread-crumb [items]="[{text: pageTitle}]"></app-bread-crumb>

<div class="row mb-4">
  <div class="col-md">
    <h1 class="h2 border-left pl-2">{{pageTitle}} <i *ngIf="action" class="fa fa-refresh fa-spin fa-1x fa-fw"></i></h1> 
  </div>
  <div class="col-md">
    <button routerLink="new" class="btn btn-success float-right" [disabled]="action">+ Novo Lançamento</button>
  </div>
</div>

<table class="table table-hover">
  <thead>
    <tr class="bg-primary text-light">
      <th>Lançamento</th>
      <th>Categoria</th>
      <th class="text-right">Valor R$</th>
      <th style="width: 15%" class="text-center">Ações</th>
    </tr>
  </thead>
  <tbody *ngIf="resources !== null">
    <tr *ngFor="let item of resources">
      <td><strong>{{item.name}}</strong><br/>
        <small class="text-success">{{item.date | date:'dd/MM/yyyy'}}</small><br/>
        <small *ngIf="item.description">{{item.description}}</small>
      </td>
      <td style="vertical-align: middle;">{{ item.category.name }}</td>
      <td class="text-right" style="vertical-align: middle;">
        <strong [class.text-success]="item.type === 'renevue'" [class.text-danger]="item.type === 'expense'">
          {{ item.amount }}
        </strong>
        <br/>
        <span class="badge badge-ligth">{{ item.paidText }}</span>
      </td>
      <td style="vertical-align: middle;" class="text-center">
        <button [routerLink]="[item.id, 'edit']" [disabled]="action" class="btn btn-outline-info btn-sm mr-2">Editar</button>
        <button [disabled]="action" (click)="deleteEntry(item)" class="btn btn-outline-danger btn-sm"> <i *ngIf="action" class="fa fa-spinner fa-spin fa-1x fa-fw"> </i>Excluir</button>
      </td>
    </tr>
  </tbody>
</table>
